@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Questrial&display=swap');

.header img {
    width: 100%;
}

.header h1 {
    font-size: 65px;
    letter-spacing: 4px;
    word-spacing: 10px;
    font-family: 'Cal Sans', sans-serif;
    margin: 25px 35px auto;
    color: #ff3131;
}

.voltar {
    position: absolute;
    top: 30px;
    left: 30px;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

#musica,
#aquarela,
#danca {
    z-index: 0.5;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

#musica {
    margin: 230px 925px auto;
}

#aquarela {
    margin: 1200px auto;
}

#danca {
    margin: 200px 1084px auto;
}

#musica:hover,
#aquarela:hover,
#danca:hover {
    transform: translateX(0) scale(1.05);
}