@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: linear-gradient(160deg, #6dc470, #9ae69d, #fff) no-repeat;
    min-height: 100vh;
    text-align: center;
    font-family: open sans, sans-serif;

}

.voltar {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    position: absolute;
    color: white;
    top: 30px;
    left: 30px;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.logo {
    width: 120px;
    margin-top: 40px;
}

h2 {
    line-height: 25px;
    font-weight: normal;
    letter-spacing: -2px;
    position: relative;
}

h5 {
    font-weight: normal;
    padding-top: 10px;
}

.data_nascimento,
#data_nascimento {
    background: none;
    text-align: left;
}

.login {
    text-decoration: none;
    color: #ff3131;
    font-weight: bold;
}

.login:hover {
    text-decoration: underline;
}

.tela-cadastro {
    margin-top: 65px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 60px 25px;
    padding-bottom: 25px;
    border-radius: 35px;
}

input {
    text-align: left;
    font-size: 18px;
    padding: 12px;
    border: none;
    background-color: #f6f6f6;
    outline: none;
}

.entrar {
    background-color: #5daf61;
    color: #fff;
    border: none;
    padding: 13px;
    border-radius: 40px;
    font-size: 23px;
    width: 80%;
    cursor: pointer;
}

.entrar:hover {
    background-color: #6bc870;
}