@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Questrial&display=swap');

html, body {
    width: 100vw;
    height: 100dvh; 
    margin: 0;
    padding: 0;
    overflow: hidden; 
    display: flex;
    flex-direction: column;
}

.cabecalho {
    background-color: #72d276;
    padding: 17px;
    width: 100%;
    z-index: 10;
    flex-shrink: 0;
}

.conteudo-principal {
    position: relative;
    flex: 1;
    width: 100%;
    overflow: hidden;
}

.voltar {
    top: 0.1%;
    font-size: 25px;
}

.secao-introducao {
    text-align: center;
}

.titulo {
    font-size: 30px;
    margin-bottom: 15px;
}

.subtitulo {
    font-size: 20px;
    margin-bottom: 20px;
}

.estrelas-container {
    display: flex;
    justify-content: center;
    gap: 12px;
}

.estrela {
    font-size: 80px;
    color: #dcdcdc;
    cursor: pointer;
    transition: color 0.2s ease;
}

.estrela.active {
    color: #ffcc00;
}

.feedback-container {
    background-color: #f0f0f0;
    border-radius: 15px;
    padding: 20px;
    margin: 0 auto 30px auto;
    max-width: 60%; 
    width: 100%;
}

textarea {
    width: 100%;
    height: 250px;
    background: transparent;
    border: none;
    resize: none;
    font-size: 16px;
    color: #333333;
    text-align: center;
}

textarea::placeholder {
    color: #999999;
    text-align: left;
}

.btn-enviar {
    margin: 0 auto;
    display: block;
    background-color: #ff2a2a;
    color: white;
    border: none;
    padding: 12px 35px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 25px;
    cursor: pointer;
}

.btn-enviar:hover {
    background-color: #e02222;
}

#carangua2,
#musica2,
#onda {
    position: absolute;
    z-index: 1;
    transition: transform 0.2s ease;
}

/* 1. CARANGUEJO - Posição Livre */
#carangua2 {
    top: 30%;             /* Mude esta % para subir ou descer */
    right: 13%;            /* Mude esta % para afastar/aproximar do lado direito */
    width: 230px;         /* Ajuste aqui a largura da imagem */
}

/* 2. MUSICA - Posição Livre */
#musica2 {
    bottom: 2%;           /* Mude esta % para subir ou descer */
    right: 5%;            /* Mude esta % para afastar/aproximar do lado direito */
    width: 400px;         /* Ajuste aqui a largura da imagem */
}

/* 3. ONDA - Posição Livre */
#onda {
    bottom: -35px;        /* Posição vertical (negativo faz cortar na borda) */
    left: -10px;          /* Distância da borda esquerda */
    width: 560px;         /* Ajuste aqui a largura da imagem */
}

#musica2:hover,
#carangua2:hover,
#onda:hover {
    transform: scale(1.05);
    transition: transform 0.2s ease;;
}