@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Questrial&display=swap');

.img-cabecalho {
    width: 100%;
}


.titulo-da-pagina {
    font-size: 60px;
    color: #f1d618;
    font-weight: bold;
    font-family: 'Cal Sans', sans-serif;
    letter-spacing: 4px;
    word-spacing: 10px;
    margin: 25px 35px auto;
}


.introducao {
    z-index: 1;
    position: relative;
    display: flex;
    font-size: 25px;
    margin: 25px 35px auto;
    word-spacing: 2px;
    margin-bottom: 60px;
    max-width: 70%;
}

.container-principal {
    justify-content: space-between;
    gap: 100px;
    position: relative;
    overflow: visible;
}

.conteudo {
    font-size: 22px;
    justify-items: center;
    gap: 100px;
    height: auto;
    overflow: visible;
}

.barreado {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: flex-start; 
    margin: 25px 35px;
    gap: 60px;
    overflow: visible;
}

.direita {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.caranguejo {
    display: flex;
    vertical-align: top;
    margin: 25px 35px auto;
    gap: 60px;
}

.peixe {
    display: flex;
    vertical-align: top;
    margin: 25px 35px auto;
    gap: 60px;
}

.arroz {
    display: flex;
    vertical-align: top;
    margin: 25px 35px auto;
    gap: 60px;
}

.lucas {
    text-align: center;
    font-size: 21px;
    margin-bottom: 150px;
}

.lucas img {
    margin-bottom: 10px;
}

.ultimo-texto {
    text-align: center;
    font-size: 25px;
    margin-bottom: 150px;
}

#verduras,
#frutas,
#siri {
    z-index: 0;
    position: absolute;
    pointer-events: none;
    transition: transform 0.8s ease, opacity 0.8s ease;
}

#verduras {
    top: 10%;       
    left: 80%;   
    width: 350px; 
    height: auto;
}

#frutas {
    top: 45%;
    left: 2%;
    width: 300px;
    height: auto;
}

#siri {
    bottom: 7%;
    left: 88%;
    width: 200px;
    height: auto;
    transform: skew(10deg, -10deg);
}

#verduras:hover,
#frutas:hover,
#siri:hover {
    transform: translateX(0) scale(1.05);
}

.surgir {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.surgir.mostrar {
    opacity: 1;
}