@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Questrial&display=swap');

.abas {
    background-color: #f0f0f0;
}

.btn-sobre {
    margin-left: 75%;
}

.titulo {
    text-align: center;
    font-family: 'Cal Sans', sans-serif;
    font-size: 60px;
    letter-spacing: 4px;
    color: #8bbae2;
    margin-top: 10%;
}

.sub-titulo {
    text-align: center;
    font-size: 25px;
    color: black;
    margin-top: 50px;
}

.jogo {
    color: #e5d77b;
}

.memoria {
    color: #ff3131;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    width: 100%;
    max-width: 800px;
}

.card {
    width: 100%;
    height: 230px;
    background-color: #65cc69;
    border-radius: 5px;
    position: relative;
    transition: all 400ms ease;
    transform-style: preserve-3d;
}

.face {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    border: 1px solid;
    border-radius: 5px;
}

.front {
    transform: rotateY(180deg);
}

.back {
    backface-visibility: hidden;
    background-color: #65cc69;
}

.reveal-card {
    transform: rotateY(180deg);
}
