*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

header{
    background-image: url('inicio.png');
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 100%;
    display: inline-block;
    align-items: center;
}


.cidadeMae{
    margin: 210px 700px 220px 700px;
    text-align: center;
}

button{
    position: center;
}